#main {
	background-color: #ddf;
	max-width: 90%;
	min-width: 475px;
	margin-right: auto;
	margin-left: auto;
}

html {
	padding-top: 0;
}
body {
	background-color: #fac;
	padding-top: 0;	
}

#container {
	min-height: 500px;
}

#nav-bar {
	min-height: 40px;
	background-color: #adf;
	padding: 10px;
}

#logo {
	font-size: 60;
	float: left;
	
}

#logo>h1 {
	padding: 0;
	margin: 0;
	
}

#nav-menu {
	float: right;
	margin-left: 10px;
}

#nav-menu>ul {
	list-style-type: none;
}

#nav-menu>ul>li {
	display: inline-block;
	padding-left: 10px;
}

#nav-menu>ul>li a{
	text-decoration: none;
	color: #cad;
}

#foot-bar {
	background-color: #abc;
}

#left-menu {
	background-color: #dfd;
	float: left;
	min-width: 20%;
	min-height: inherit;
}

#left-menu ul {
	list-style-type: none;
	margin-left: auto;
}

#left-menu ul li {
	display: block;
}

ul li a {
	text-decoration: none;
}


#main-content {
	background-color: #cab;
	float: left;
	min-width: 80%;
	min-height: inherit;
}

.inner-content {
	margin: 10px;
	
}
